{% extends "base" %}
{% block title %}New Author · BookReview{% endblock title %}

{% block content %}
  <div class="card" style="max-width: 720px;">
    <h2>New author</h2>
    {% set action = "/authors/create" %}
    {% set button_text = "Create" %}
    {% include "authors/_form" %}
  </div>
{% endblock content %}